h1{
	font-size:	2.75em;
	margin-top:	15px;
	margin-bottom:	20px;
}

.yui-u {
	overflow:	hidden;
	border:		lightblue solid 2px;
	padding:	0 0em 0 0em;
	font-size:	1.25em;
}

.yui-u li{
	margin-bottom:	10px;
}


.yui-gd div.first {
	overflow:	hidden;
	border:		lightblue solid 2px;
	padding:	0 0em 0 0em;
	width:		31%;
	font-size:	1em;
}

.counit {
	float:		left;
	width:		100%;
	margin-bottom:	1.25em;
}

/*
#nav {
	width:		21em;
}

.yui-t2 #yui-main .yui-g {
	margin-left:	24.5em;
}


.yui-u.first {
	border:		1px solid blue;
	float:		left;
	width:		50em;
}

div.yui-u {
	float:		left;
	width:		auto;
}

*/
